*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 0px;
}

header{
    height: 180px;
    background-color: #007cc2;
}

nav{
    width: 50%;
    margin-left: 50%;
    margin-top: -40px;
}

.general{
    height: 80px;
    background-color: #da6487;
}

section{
    margin: 20px 0;
}

#principal{
    background-color: #dc8f6b;
    padding: 20px;
}

#principal article{
    display: inline-block;
    width: 31%;
    height: 200px;
    background-color: #8e83e8;
    margin-right: 3.5%;
}

#principal article:last-child{
    margin-right: 0;
}

#secundario article{
    display: inline-block;
    height: 260px;
}

#izq{
    width: 73%;
    background-color: #e8b376;
    margin-right: 2%;
}

#der{
    width: 25%;
    background-color: #f6fd96;
}

footer{
    height: 60px;
    background-color: #6fface;
}